.tab__list {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid 374151;
    padding: 4px;
}

.list__item__default {
    padding: 0 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.list__item::after {
    content: "";
    bottom: -4px;
    height: 3.5px;
    position: absolute;
    width: 100%;
    background: #2680EB;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  

  .panels {
      padding: 20px 0;
  }
  .panel-show {
      display: block
  }
  .panel-hide {
      display: none
  }